@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  background-color: #f4f5f6;
}

body {
  min-height: 100vh;
}